EXERCISE1#pond {
    display: flex;
  justify-content: flex-end;
  }

  Exercise2#pond {
    display: flex;
  justify-content: center;
  }
  Exercise3#pond {
    display: flex;
  justify-content:space-around;
  }
 Exercise4#pond {
    display: flex;
  justify-content:space-between;
  }