EXERCISE1#pond {
    display: flex;
  justify-content: flex-end;
  }

  Exercise2#pond {
    display: flex;
  justify-content: center;
  }
  Exercise3#pond {
    display: flex;
  justify-content:space-around;
  }
 Exercise4#pond {
    display: flex;
  justify-content:space-between;
  }
  Exercise5#pond {
    display: flex;
  align-items:flex-end;
  }
  Exercise6#pond {
    display: flex;
  justify-content:center;
  align-items:center;
  }
  Exercise7#pond {
    display: flex;
  justify-content: space-around;
  align-items: flex-end;
  }
  Exercise8#pond {
    display: flex;
  flex-direction: row-reverse;
  }
  Exercise9#pond {
    display: flex;
  flex-direction: column;
  }
  Exercise10#pond {
  display: flex;
flex-direction:row-reverse;
justify-content:flex-end;
}
Exercise11#pond {
    display: flex;
  flex-direction: column;
  justify-content:flex-end;
  }
  Exercise12#pond {
    display: flex;
  flex-direction:column-reverse;
  justify-content: space-between;
  }
  Exercise13#pond {
    display: flex;
  flex-direction:row-reverse;
  justify-content: center;
  align-items:end;
  }
  Exercise14#pond {
    display: flex;
  }
  
  .yellow {
  order:1
  }
  Exercise15#pond {
    display: flex;
  }
  
  .red {
  order:-1;
  }
  Exercise16#pond {
    display: flex;
    align-items: flex-start;
  }
  
  .yellow {
  align-self:flex-end;
  }

  Exercise17#pond {
    display: flex;
    align-items: flex-start;
  }
  
  .yellow {
  order:1;
  align-self:flex-end;
  }
  Exercise18:#pond {
    display: flex;
  flex-wrap:wrap;
  }
  Exercise19#pond {
    display: flex;
  flex-direction:column;
  flex-wrap:wrap;
  }